html {
  scroll-behavior: smooth;
}
.nav{
  position: fixed;
    background:#008037;
   bottom: 10px;
   right: 10px;
   border-radius: 15px 15px 15px 15px;
   height: 50px;
   width: 50px;

  }
  .App{
    max-width: 1000px;
    margin: auto;
    background-image: url("data:images/bg.svg");
    background-repeat: no-repeat;
  }