@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
    from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
    
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url("./images/Polygon-0.3s-1731px.svg");
    background-position: 0px 0px 0px 0px;
    background-repeat: repeat;
    object-fit: cover;
    background-color: #f1f2f3;
    animation: animatedBackground 20s linear infinite alternate;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
